<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <header>
        <div class="sale">
            <div class="sale_box">

                <div class="day">
                    <h1>Black</h1>
                    <h2>Friday</h2>
                </div>
                <div class="m-title">
                    <h3>Up to </h3><span>59%</span><span>OFF</span>
                </div>
                <div>
                    <button class="btn">Shop now &rightarrow;</button>
                </div>
            </div>
        </div>


    <div class="secheader">
        <div class="container">
            <p>Welcome to Clicon online eCommerce store.</p>

               
            <div class="social">
                <p>Follow us:</p>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i> 
                    <span></span>
                </div>


                

                 <div class="lang-dropdown">
                <button class="dropbtn">Eng</button>
                <div class="drop_content">
                    <a class="en" href="#" onclick="changeLanguage('en')"><img src="../images/flagen.png" alt=""> English <span id="enCheck" class="selected"><i class="fas fa-check"></i></span> </a>
                    <a class="er" href="#" onclick="changeLanguage('er')"><img src="../images/flagen.png" alt=""> Arabic <span id="arCheck" class="selected"><i class="fas fa-check"></i></span></a>
                    <a class="es" href="#" onclick="changeLanguage('es')"><img src="../images/flagen.png" alt=""> Spanish <span id="esCheck" class="selected"><i class="fas fa-check"></i></span></a> 
                </div>
              </div>


                <div class="lang-dropdown">
                    <button class="dropbtn">USD</button>
                    <div class="drop_content">
                        <a class="en" href="#" onclick="changeLanguage('en')">English <span id="enCheck" class="selected"><i class="fas fa-check"></i></span> </a>
                        <a class="er" href="#" onclick="changeLanguage('er')">Arabic <span id="arCheck" class="selected"><i class="fas fa-check"></i></span></a>
                    </div>
                </div>
        </div>
    </div>



        <!-- <div class="header">
            <p>Welcome to Clicon online eCommerce store.</p>
            <div class="social">
                <p>Follow us:</p>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i> 
                </div>

    <div class="lang-dropdown">
                <span class="shm"></span>
                <button class="dropbtn">lang </button>
                <div class="drop_content">
                    <a class="en" href="#" onclick="changeLanguage('en')"><img src="../images/flagen.png" alt=""> English <span id="enCheck" class="selected"><i class="fas fa-check"></i></span> </a>
                    <a class="er" href="#" onclick="changeLanguage('er')"><img src="../images/flagen.png" alt=""> Arabic <span id="arCheck" class="selected"><i class="fas fa-check"></i></span></a>
                    <a class="es" href="#" onclick="changeLanguage('es')"><img src="../images/flagen.png" alt=""> Spanish <span id="esCheck" class="selected"><i class="fas fa-check"></i></span></a> 
                </div>
            </div>
            </div> -->
        


        </div>





        <div class="thdheader">
            <div class="th_header">

                <div class="r_sec">

                    <img class="logo" src="../images/flagen.png" alt="">
                    <div>CLICON</div>

                </div>


                <div class="m_sec"> 
                 <input type="search" name="" id="" placeholder="Search for anything...">
                   <i class="fa-solid fa-magnifying-glass"></i>
                   </div>














                <div class="l_sec"> 
                    <div class="iconss">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>





            </div>
        </div>
    </header>
   
    <script src="../js/main.js"></script>
</body>
</html>